*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
}

body{
    height: 100vh;
}

.navegacao{
    background-color: rgb(240, 240, 240);
}
.nav2{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: "montserrat";
    font-weight: 500;
}

.logo{
    font-size: 2rem;
    font-family: "Nunito";
    color: #BF9B7A !important;
}

.caixa{
    border-radius: 6%;
    margin-top: 20%;
}

.sobre{
    display: flex;
    justify-content: center;
    gap: 6rem;
    z-index: -1;
    position: relative;
    margin-top: 16rem;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-texto {
    width: 37.5rem;
}

.sobre-texto h2 {
    margin-bottom: 2rem;
}

#alerta-cabecalho {
    display: flex;
    margin-bottom: 0px;
    padding: 0.7rem;
    justify-content: center;
    font-family: "Nunito";
    font-size: 0.75rem;
    font-weight: 800;
    border-radius: 0px;
    width: 100%;
}

#alerta-cardapio {
    display: flex;
    margin-bottom: 0px;
    padding: 0.7rem;
    justify-content: center;
    gap: 4rem;
    border-radius: 0px;
    width: 100%;
    margin-top: 8rem;
    height: 7rem;
    font-family: 'Nunito';
    font-size: 2rem;
    font-weight: 800;
    align-items: center;
}

#alerta-cardapio span {
    width: 16rem;
}

#alerta-cardapio button {
    width: 19rem;
    height: 3rem;
    border-radius: 2.5rem;
    font-family: 'Nunito';
    font-weight: 800;
}

.cn2, .cn{
    display: flex;
    width: 100%;
    justify-content: center;
}

.row {
    --bs-gutter-x: 0px;
}

.d-block {
    border-radius: 1.5rem;
}