*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
}

body{
    height: 100vh;
}

.navegacao{
    background-color: rgb(240, 240, 240);
}
.nav2{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "montserrat";
    font-weight: 500;
}

main {
    margin-top: 133px;
}

.logo{
    font-size: 30px;
    font-family: "Nunito";
    color: #BF9B7A !important;
}

.caixa{
    border-radius: 6%;
    margin-top: 20%;
}

/* .img-principal {
    width: 100vw;
    background-size: cover;
    height: 50%;
    position: relative;
    z-index: -1;
    height: 700px;
} */

.sobre{
    display: flex;
    justify-content: center;
    gap: 100px;
    z-index: -1;
    position: relative;
    margin-top: 233px;
    align-items: center;
}

.sobre-texto {
    width: 600px;
}

.sobre-texto h2 {
    margin-bottom: 30px;
}

.alert {
    display: flex;
    margin-bottom: 0px;
    padding: 10px;
    justify-content: center;
    font-family: "Nunito";
    font-size: 12px;
    border-radius: 0px;
    width: 100%;
}

.row {
    --bs-gutter-x: 0px;
}